@{

    ViewData["Title"] = "Pranzo";
    MenuViewModel ViewModel = (MenuViewModel)Model;
    ViewData["DateSelected"] = ViewModel.Date.ToString("dd/MM/yyyy");

}

@inject prenotazione_postazioni_mvc.HttpServices.MenuChoicesHttpService _menuChoicesHttpService;
@using System.Net;
@using prenotazione_postazioni_libs.Models;

@{
    HttpResponseMessage checkExists = await _menuChoicesHttpService.GetByUserAndIdMenu(1, 1);
    HttpStatusCode code = checkExists.StatusCode;
    if (code == HttpStatusCode.OK)
    {
        MenuChoices menuChoice = await checkExists.Content.ReadFromJsonAsync<MenuChoices>();
        if (menuChoice != null) ViewModel.MenuChoices = menuChoice;
        else ViewModel.MenuChoices = null;
    }

}


<main class="d-flex justify-content-around">
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-sm-8">
                <img style="width: 55%"
                     src=@ViewModel.GetImage()
                     class="img-thumbnail bd-darkorange"
                     alt="Menu" />
            </div>
            <v class="col-sm-4">
                <label for="myTextarea">La tua scelta</label>
                @{
                    if (ViewModel.Menu != null)
                    {
                        <textarea class="form-control overflow-hidden bd-darkorange"
                                  style="height:5rem"
                                  placeholder="Scrivi qui"
                                  id="myTextarea"
                                  maxlength="64">
                            @ViewModel.GetMenuChoice()
                                                                                          </textarea>
                        <button class="btn btn-primary bg-darkorange bd-darkorange mt-4" id="invia">
                            Invia
                        </button>
                        <script>
                            $("#invia").on("click", function () {
                                var choice = $("#myTextarea").val().trim();
                                var idMenu = @ViewModel.Menu.Id;
                                $.ajax({
                                    type: "POST",
                                    url: "/Menu/addChoice",
                                    data: { "choice": choice, "idUser": 1, "idMenu": idMenu },
                                    success: function (response) {
                                        if (response == "scelta gia effettuata precedentemente") {
                                            $("#risposta").text(`${response}`);
                                        }
                                        $("#risposta").text(`${response}`)
                                    },
                                    error: function () {
                                        $("#risposta").text("errore durante l'invio")
                                    }
                                })
                            })
                        </script>
                    }
                    else
                    {
                        <textarea class="form-control overflow-hidden bd-darkorange" style="height:5rem" placeholder="Scrivi qui" id="myTextarea"
                                  maxlength="64" disabled></textarea>
                        <button class="btn btn-primary bg-darkorange bd-darkorange mt-4" id="invia" disabled>
                            Invia
                        </button>
                    }
                }
                <p id="risposta"></p>

        </div>
    </div>
</main>


