.presents-div {
    width: 30vw;
    height: 65vh;
    background-color: white;
}

.mod-emerg-div {
    width: 19vw;
    height: 20vh;
    background-color: white;
}

.sidebar {
    width: 15%;
    height: 100%;
    background-color: white;
}

body {
    height: 100vh;
    overflow: hidden;
}

.bd-gray {
    border: 1px solid #464545 !important;
}

.active-orange {
    background-color: darkorange !important;
}

.color-black {
    color: black !important;
}