.settings_sidebar_box {
  padding: 2%;
  width: 100%;
  height: 70vh;
  display: flex;
  background-color: var(--bkg-color);
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 1vw 1vw 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.settings_sidebar_itemList {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.settings_sidebar_itemList a {
  cursor: pointer;
  user-select: none;
  width: 100%;
  height: 3vw;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  color: #000;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

.settings_sidebar_itemList a:hover {
  background-color: darkorange;
  border-radius: 0.5vw;
  color: #fff !important;
}

.sidebar_checked {
  background-color: darkorange;
  border-radius: 0.5vw;
  color: #fff !important;
}

.settings_container {
  padding: 2% 2% 2% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
}

.settings_content {
  width: 100%;
  height: 100%;
}

.settings_presenze_content {
  padding: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.settings_calendar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings_collapse_content {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.settings_postazioni {
  width: 75vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  background-color: var(--bkg-color);
  border-radius: 1vw;
  box-shadow: var(--shadow-color) 0px 1px 4px;
  margin: 0;
}

.settings_postazioni_content {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.settings_user_content {
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: scroll;
}
.postazioni_image_container img {
  width: 50vw;
  height: 100%;
  object-fit: cover;
  margin-right: 15px;
}

.postazioni_information {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  gap: 2vw;
  height: 100%;
  width: 50%;
  padding: 2%;
}

.postazioni_information h1 {
  font-size: 1.5vw;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: var(--font-color);
}

.postazioni_information_form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 1vw;
}

.settings_holiday {
  width: 75vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  padding: 2%;
  background-color: #fff;
  border-radius: 1vw;
  box-shadow: var(--shadow-color) 0px 1px 4px;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .table_btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkorange;
    padding: 2%;
  }
  .settings_container {
    padding: 5%;
    flex-direction: column;
    gap: 2vw;
  }

  .settings_sidebar_box {
    padding: 3%;
    width: 100%;
    height: auto;
    border-radius: 1vw;
  }

  .settings_sidebar_itemList {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: 100%;
    height: 100%;
  }

  .settings_sidebar_itemList a {
    width: auto;
    height: auto;
    padding: 1%;
    font-size: 3vh;
  }

  .settings_content {
    width: 100%;
    height: auto;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .settings_user_content {
    width: 100%;
    height: auto;
    overflow: scroll;
    .user_table {
      font-size: 1.5vw;
    }
  }

  .settings_postazioni {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 1vw;
  }

  .postazioni_image_container {
    width: 100%;
    height: 50%;
  }

  .postazioni_image_container img {
    width: auto;
    height: auto;
  }

  .postazioni_information {
    width: 100%;
    height: 50%;
  }

  .postazioni_information h1 {
    font-size: 4vh;
    color: var(--font-color);
  }

  .settings_presenze_content {
    flex-direction: column;
    gap: 2vw;
  }

  .settings_collapse_content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
  }
}

.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--shadow-color);
  background-color: var(--bkg-color);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-content {
  background-color: var(--bkg-color);
  border-radius: 8px;
  width: 400px;
}

.form-content label {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: var(--font-color);
  align-items: center;
}

.form-content input[type="time"] {
  border: 2px solid var(--shadow-color);
  border-radius: 4px;
  width: 20.7rem;
  font-size: 16px;
  outline: none;
  background-color: var(--bkg-color);
}

.form-content input[type="submit"] {
  background-color: darkorange;
  color: var(--bkg-color);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition: background-color 0.3s;
  box-sizing: content-box;
}

.form-content input[type="submit"]:hover {
  background-color: orange;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: darkorange;
}

input:focus + .slider {
  box-shadow: 0 0 1px darkorange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
