@import url("https://fonts.googleapis.com/css?family=Inter");
* {
  font-family: Inter;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: darkorange;
}

.bg-darkorange {
  background-color: darkorange !important;
}

.calendar-div {
  background-color: white;
  border-radius: 1vw;
}

.room_info_div {
  padding: 5%;
  width: 100%;
  min-height: 10%;
  max-height: 90%;
  overflow: auto;
  background-color: var(--bkg-color);
  box-shadow: var(--shadow-color) 0px 1px 4px;
  border-radius: 0.5vw;
}

.btn-collapse {
  width: 70%;
  height: auto;
  border-bottom: 2px solid #2d2d2d;
}

.btn-collapse a {
  text-decoration: none;
  color: #2d2d2d;
}

.reservation img {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

area {
  cursor: pointer;
}

.alert-box {
  position: fixed;
  z-index: 99999;
  top: 92%;
  left: 1%;
}

.alert-box .alert-box-view {
  border-radius: 5.5px;
  padding: 0.7vh 2vw;
  font-size: 1.1vw;
  width: auto;
  color: white;
}

.home_container {
  padding: 3%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 76vh;
  gap: 2vw;
}
.piantina_container {
  width: 100%;
  height: 100%;
  padding: 2%;
  background-color: var(--bkg-color);
  box-shadow: var(--shadow-color) 0px 1px 4px;
  border-radius: 0.5vw;
}
.piantina_container img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.room_info_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 70%;
  height: auto;
  gap: 1vw;
}

.room_info_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.5vw;
  background-color: darkorange;
  color: #fff;
}
.navbar_menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: darkorange;
}
.navbar_menu ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.navbar_menu li {
  display: inline-block;
  margin: 0 15px;
}
.nav-link {
  font-size: 1.3vw;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  padding: 4px 0;
}
.nav-link:hover {
  color: #fff;
  text-decoration: none;
}
.nav-link::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}
.nav-link:hover::before {
  transform: scale3d(1, 1, 1);
}

.loader_container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(255, 255, 255, 0.72);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 1);
}
.loader_content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vw;
}
.loader {
  background: rgba(248, 103, 25, 0.979);
  height: 20px;
  width: 160px;
  border-radius: 20px;
  animation: mover5 2s ease-in-out infinite;
  top: 50%;
  left: 45%;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  height: 20px;
  border-radius: 20px;
  left: 40px;
  animation: mover5 2s ease-in-out infinite;
}

.loader::before {
  background: rgb(201, 94, 1);
  top: 40px;
  width: 100px;
}

.loader::after {
  background: rgb(255, 151, 106);
  top: -40px;
  width: 120px;
}

@keyframes mover5 {
  0% {
    transform: translateX(30px) scale(1);
  }

  50% {
    transform: translateX(-30px) scale(1.1);
  }

  100% {
    transform: translateX(30px) scale(1);
  }
}

@media screen and (max-width: 700px) {
  .home_container {
    flex-direction: column;
    height: auto;
  }
  .room_info_container {
    width: 100%;
    gap: 3vw;
  }
  .room_info_div {
    width: 100%;
    margin: 0;
  }
  .navbar_menu {
    display: none;
  }

  .navbar_menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2vw;
  }
  .nav-link {
    font-size: 4vw;
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
    padding: 4px 0;
  }
}
