:root {
    --road-length: 99vw;
    --road-thickness: 40px;
}

.road {
    width: var(--road-length);
    height: var(--road-thickness);
    position: relative;
    overflow: hidden;
}

.truck {
    width: 50px;
    height: 30px;
    background-image: url('img/truck.png');
    background-size: cover;
    position: absolute;
    top: calc(0.5 * (var(--road-thickness) - 30px) - 10px);
    left: 0;
    animation: truckAnimation 10s linear infinite;
}

@keyframes truckAnimation {
    0% {
        left: -50px;
    }

    100% {
        left: calc(var(--road-length) + 50px);
    }
}

.road::before {
    content: "";
    display: block;
    width: 100%; /* Imposta la larghezza al 100% */
    height: 100%;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    animation: roadAnimation 1s linear infinite; /* Aggiornato il valore della durata a 10s */
}

@keyframes roadAnimation {
    0% {
        transform: translateX(0); /* Anima la traslazione orizzontale */
    }

    100% {
        transform: translateX(calc(-100% + var(--road-length))); /* Sposta la GIF in modo che si adatti alla larghezza dello schermo */
    }
}
